
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Spectral', Helvetica, Arial, sans-serif;
    color: $brand-grey-light;
    background-color: #151515;
    line-height: 125%;
}

h1 {
    margin-bottom: $margin-bottom;
    line-height: 125%;
    font-weight: 600;
    font-size: 24pt;
    color: $brand-grey-medium;
    @media (min-width: $screen-md) {
        font-size: 28pt
    }
    @media (min-width: $screen-lg) {
        font-size: 30pt;
    }
    @media (min-width: $screen-xl) {
        font-size: 36pt;
    }
}

h2 {
    margin-bottom: $margin-bottom;
    line-height: 125%;
    font-weight: 600;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: .2rem;
    @media (min-width: $screen-md) {
        font-size: 12pt;
        letter-spacing: .3rem;
    }
}

h3 {
    margin-bottom: $margin-bottom;
    line-height: 125%;
    font-weight: 600;
    font-size: 20pt;
    color: $brand-grey-medium;
    line-height: 120%;
}

h4 {
    margin-bottom: $margin-bottom;
    line-height: 125%;
    font-weight: 600;
    font-size: 8pt;
    text-transform: uppercase;
    letter-spacing: .1rem;
    @media (min-width: $screen-md) {
        font-size: 10pt;
        letter-spacing: .2rem;
    }
}

p,
ul,
ol {
    line-height: 125%;
    margin-bottom: $margin-bottom;
    font-size: 10pt;
    @media (min-width: $screen-xs) {
        font-size: 12pt;
    }
}

ul,
ol {
    padding-left: 1.3rem;
}

li {
    list-style-type: disc;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:link,
a:visited {
    color: $brand-primary;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: white;
    text-decoration: underline;
}

.containment-padding {
    padding: 10% 2rem;
    @media (min-width: $screen-md) {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @extend .containment-padding;
    max-width: $container-max;
    overflow: hidden;
    & > h1 {
        margin-bottom: 10%;
        text-align: center;
    }
    & > h1 + h2 {
        margin-top: -5%;
        margin-bottom: 10%;
    }
}

@media (min-width: $screen-md) {
    .container {
        padding-top: 5%;
        padding-bottom: 5%;
        & > h1 {
            margin-bottom: 5%;
        }
        & > h1 + h2 {
            margin-top: -3%;
            margin-bottom: 5%;
        }
    }
}

#content {
    height: 100%;
}

.btn {
    display: inline-block;
    padding: .7rem 1rem;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    text-transform: uppercase;
    transition: all .5s;
    @media (min-width: $screen-lg) {
        padding: 1.2rem 2rem;
    }
}

.btn-outline,
a.btn-outline {
    color: $brand-grey-medium;
    border-color: $brand-grey-medium;
    &:hover,
    &:active {
        color: white;
        background-color: $brand-grey-medium;
    }
}

