<div id="contact" class="section">
    <div class="container">
        <h2>Contact</h2>
        <p class="actions">
            <a href="https://facebook.com/featfromfalling" class="social"><img src="images/facebook.png" alt="Facebook" width="48" height="48"></a>
            <a href="https://instagram.com/featfromfalling" class="social"><img src="images/instagram.png" alt="Instragram" width="48" height="48"></a>
            <a href="https://soundcloud.com/featfromfalling" class="social"><img src="images/soundcloud.png" alt="Soundcloud" width="48" height="48"></a>
            <a href="https://twitter.com/featfromfalling" class="social"><img src="images/twitter.png" alt="Twitter" width="48" height="48"></a>
            <a href="mailto:featfromfalling@gmail.com" class="btn btn-outline">featfromfalling@gmail.com</a></p>
    </div>
</div>