<div id="intro" class="section">
    <div class="container">
        <h1>Feat From Falling</h1>
        <p class="actions">
            <a href="https://facebook.com/featfromfalling" class="social"><img src="images/facebook.png" alt="Facebook" width="48" height="48"></a>
            <a href="https://instagram.com/featfromfalling" class="social"><img src="images/instagram.png" alt="Instragram" width="48" height="48"></a>
            <a href="https://www.youtube.com/channel/UCc8XYFfrXOHoevCmMlAbV3w" class="social"><img src="images/youtube-icon.svg" alt="Youtube" width="48" height="48"></a>
            <a href="https://twitter.com/featfromfalling" class="social"><img src="images/twitter.png" alt="Twitter" width="48" height="48"></a>
            <a href="mailto:featfromfalling@gmail.com" class="btn btn-outline">featfromfalling@gmail.com</a></p>
    </div>
</div>