<div id="intro" class="section">
    <div class="container">
        <h1>Feat From Falling</h1>
        <p class="actions"><a href="mailto:featfromfalling@gmail.com" class="btn btn-outline">featfromfalling@gmail.com</a></p>
    </div>
</div>