<div id="listen" class="section">
    <div class="container">
        <h2>Listen</h2>

        <div class="row">
            <div class="col-m-6">
                <div class="song" data-name="My Love, Please Stay">
                    <img src="images/song-my-love-please-stay.jpg" alt="My Love, Please Stay Album Cover">
                    <h3>My Love, Please Stay</h3>
                    <ul class="stores">
                        <li class="spotify"><a href="https://open.spotify.com/track/3qfcqsD30WwYoEjdNr542Y"><img src="images/spotify.svg"></a></li>
                        <li class="applemusic"><a href="https://music.apple.com/us/album/my-love-please-stay-single/1526081538?uo=4"><img src="images/applemusic.svg"></a></li>
                        <li class="youtube"><a href="https://music.youtube.com/watch?v=GWMJvACXkTY"><img src="images/youtube.svg"></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-m-6">
                <div class="song" data-name="Die Knocking">
                    <img src="images/song-die-knocking.jpg" alt="Die Knocking Album Cover">
                    <h3>Die Knocking</h3>
                    <ul class="stores">
                        <li class="spotify"><a href="https://open.spotify.com/album/2fjz72KPRctAkbjVjrlBj5"><img src="images/spotify.svg"></a></li>
                        <li class="applemusic"><a href="https://music.apple.com/us/album/die-knocking-single/1485065029?uo=4&amp;app=music&amp;at=1001lry3&amp;ct=dashboard"><img src="images/applemusic.svg"></a></li>
                        <li class="youtube"><a href="https://music.youtube.com/watch?v=NbBfSrX-ikU"><img src="images/youtube.svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-m-6">
                <div class="song" data-name="Safe">
                    <img src="images/song-safe.jpg" alt="Safe Album Cover">
                    <h3>Safe</h3>
                    <ul class="stores">
                        <li class="spotify"><a href="https://open.spotify.com/album/2OpvAL8RjgIl8d6TREqg64"><img src="images/spotify.svg"></a></li>
                        <li class="applemusic"><a href="https://music.apple.com/us/album/safe-single/1484012389?uo=4&amp;app=music&amp;at=1001lry3&amp;ct=dashboard"><img src="images/applemusic.svg"></a></li>
                        <li class="youtube"><a href="https://music.youtube.com/watch?v=9xn4XAeRQ-Q"><img src="images/youtube.svg"></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>