<div id="watch" class="section">
    <div class="container">
        <h2>Watch</h2>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/weJODwFXdNs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/QNIO0QZjpuo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/F3ySeSO7cVQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uaIBv7qp8tw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Pr1c-HN7QcI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OyyP86qnJls" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="aspect-ratio embedded-video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/I1OFYSnGLI8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>
</div>