<!doctype html>
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie10" lang="en"><![endif]-->
<!--[if !IE]> -->
<html class="no-js" lang="en">
<!-- <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if lt IE 8]><div class="alert alert-warning"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div><![endif]-->
        <div id="content"> 
            {{> sections/about}}
        </div>
        <link rel="preload" href="styles/main.css" as="style" onload="this.rel='stylesheet'">
        <script src="scripts/main.js" async defer></script>
    </body>
</html>