<!doctype html>
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie10" lang="en"><![endif]-->
<!--[if !IE]> -->
<html class="no-js" lang="en">
<!-- <![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Spectral:400,400i,600,600i" rel="stylesheet">
        <link href="styles/main.css" rel="stylesheet">
        <meta name="google-site-verification" content="vskC_r9iQoE2aIQRjTYEhj7YEF32Xj4eSqq5-EQ4H2E" />
        <!-- Facebook Open Graph -->
        <meta property="og:locale" content="en_GB"/>
        <meta property="og:site_name" content="Feat From Falling"/>
        <meta property="og:title" content="Home"/>
        <meta property="og:url" content="https://featfromfalling.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Aussie three piece rock band, Feat From Falling"/>
        <meta property="og:image" content="https://featfromfalling.com/images/social.png"/>
        <meta property="article:publisher" content="https://www.facebook.com/featfromfalling/"/>
        <!-- Twitter Cards -->
        <meta name="twitter:title" content="Home"/>
        <meta name="twitter:url" content="https://featfromfalling.com"/>
        <meta name="twitter:description" content="Aussie three piece rock band, Feat From Falling"/>
        <meta name="twitter:image" content="https://featfromfalling.com/images/social.png"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:site" content="@featfromfalling"/>
        <!-- SEO -->
        <link rel="canonical" href="https://featfromfalling.com"/>
        <meta name="description" content="Aussie three piece rock band, Feat From Falling"/>
        <meta name="publisher" content="Feat From Falling"/>
    </head>
    <body>
        <!--[if lt IE 8]><div class="alert alert-warning"><p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div><![endif]-->
        <div id="content"> 
            {{> sections/intro}}
            {{> sections/listen}}
            {{> sections/watch}}
            {{> sections/about}}
            {{> sections/contact}}
        </div>
    </body>
</html>